.tags-input{
    display: inline-flex;
  margin:  10px;
  padding: 3px;
  width: 600px;
  font-size: 14px;
  border: #cecece solid 1px;
  border-radius: 3px;
}
span{
  display: inline-flex;
  padding: 2px 5px;
  background-color: #cecece;
  border-radius: 3px;
}
.icons{
  display: inline-block;
  margin: 5px;
  padding: 0;
  width: 16px;
  height: 18px;
  background-color: rgba(0,0,0,.3);
  color: white;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  /* border-radius: 50px; */
  border: none;
  outline: none;
  user-select: none;
}
li{
  display: inline-flex;
  padding: 1px 3px;
  margin: 5px;
  background-color: #cecece;
  border-radius: 3px;
}